[Unit]
Description=Wayland Idle Lock Daemon (2 Minutes)
After=graphical-session.target

[Service]
ExecStart=/home/zaki/.local/bin/idle-daemon 120
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
